In [22]:
import pandas as pd
import numpy as np
import torch

In [23]:
path = '../data/train_test_network.csv'
df = pd.read_csv(path, low_memory=False)

In [9]:
df.head()

,src_ip,src_port,dst_ip,dst_port,proto,service,duration,src_bytes,dst_bytes,conn_state,...,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types,weird_name,weird_addl,weird_notice,label,type
0,192.168.1.37,4444,192.168.1.193,49178,tcp,-,290.371539,101568,2592,OTH,...,0,0,-,-,-,-,-,-,1,backdoor
1,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000102,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor
2,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000148,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor
3,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000113,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor
4,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000130,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor

In [10]:
df.head()

,src_ip,src_port,dst_ip,dst_port,proto,service,duration,src_bytes,dst_bytes,conn_state,...,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types,weird_name,weird_addl,weird_notice,label,type
0,192.168.1.37,4444,192.168.1.193,49178,tcp,-,290.371539,101568,2592,OTH,...,0,0,-,-,-,-,-,-,1,backdoor
1,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000102,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor
2,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000148,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor
3,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000113,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor
4,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000130,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor

In [11]:
ddos_df = df[df['type'] == 'ddos']
ddos_df[:200]

,src_ip,src_port,dst_ip,dst_port,proto,service,duration,src_bytes,dst_bytes,conn_state,...,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types,weird_name,weird_addl,weird_notice,label,type
20000,192.168.1.30,39180,18.184.104.180,8080,tcp,-,1123.254189,1286281,749633,SF,...,0,0,-,-,-,-,-,-,1,ddos
20001,192.168.1.30,39182,18.184.104.180,8080,tcp,-,1123.257114,1343869,784744,SF,...,0,0,-,-,-,-,-,-,1,ddos
20002,192.168.1.30,39184,18.184.104.180,8080,tcp,-,1123.276244,1197748,701307,SF,...,0,0,-,-,-,-,-,-,1,ddos
20003,192.168.1.30,39186,18.184.104.180,8080,tcp,-,1123.262629,1305914,762793,SF,...,0,0,-,-,-,-,-,-,1,ddos
20004,192.168.1.30,39188,18.184.104.180,8080,tcp,-,1123.279137,1219202,712529,SF,...,0,0,-,-,-,-,-,-,1,ddos
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20195,192.168.1.30,41520,192.168.1.184,443,tcp,-,61.017857,0,0,S3,...,0,0,-,-,-,-,-,-,1,ddos
20196,192.168.1.30,41522,192.168.1.184,443,tcp,-,60.898055,0,0,S3,...,0,0,-,-,-,-,-,-,1,ddos
20197,192.168.1.30,41524,192.168.1.184,443,tcp,-,0.000816,0,0,S1,...,0,0,-,-,-,-,-,-,1,ddos
20198,192.168.1.30,41526,192.168.1.184,443,tcp,-,60.841500,0,0,S3,...,0,0,-,-,-,-,-,-,1,ddos
20199,192.168.1.30,41528,192.168.1.184,443,tcp,-,61.000868,0,0,S3,...,0,0,-,-,-,-,-,-,1,ddos

In [12]:
type_dist =df['type'].value_counts()
type_dist

type
normal        50000
backdoor      20000
ddos          20000
dos           20000
injection     20000
password      20000
ransomware    20000
scanning      20000
xss           20000
mitm           1043
Name: count, dtype: int64

In [13]:
feature_columns = [
            'duration', 'src_bytes', 'dst_bytes', 'missed_bytes',
            'src_pkts', 'src_ip_bytes', 'dst_pkts', 'dst_ip_bytes',
            'dns_qclass', 'dns_qtype', 'dns_rcode', 'dns_AA', 'dns_RD', 'dns_RA',
            'http_trans_depth', 'http_request_body_len', 'http_response_body_len',
            'http_status_code'
        ]

In [14]:
len(df)

211043

In [15]:
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

In [16]:
y = (df['type'].str.lower() != 'normal').astype(int)
y

0         1
1         1
2         1
3         1
4         1
         ..
211038    0
211039    0
211040    1
211041    1
211042    0
Name: type, Length: 211043, dtype: int64

In [17]:
y = (df['type'].str.lower() != 'normal').astype(int)
y

0         1
1         1
2         1
3         1
4         1
         ..
211038    0
211039    0
211040    1
211041    1
211042    0
Name: type, Length: 211043, dtype: int64

In [18]:
for attack_type, count in type_dist.items():
    print(f"  {attack_type:15s}: {count:6,} ({count/len(df)*100:5.1f}%)")

  normal         : 50,000 ( 23.7%)
  backdoor       : 20,000 (  9.5%)
  ddos           : 20,000 (  9.5%)
  dos            : 20,000 (  9.5%)
  injection      : 20,000 (  9.5%)
  password       : 20,000 (  9.5%)
  ransomware     : 20,000 (  9.5%)
  scanning       : 20,000 (  9.5%)
  xss            : 20,000 (  9.5%)
  mitm           :  1,043 (  0.5%)

In [19]:
df = df.groupby("type", group_keys=False).apply(lambda x: x.sample(frac=1, random_state=42))
df

,src_ip,src_port,dst_ip,dst_port,proto,service,duration,src_bytes,dst_bytes,conn_state,...,http_request_body_len,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types,weird_name,weird_addl,weird_notice,label
113932,192.168.1.193,49420,192.168.1.33,80,tcp,-,0.000188,0,0,REJ,...,0,0,0,-,-,-,-,-,-,1
21938,192.168.1.193,49826,192.168.1.37,8080,tcp,-,0.000165,0,0,REJ,...,0,0,0,-,-,-,-,-,-,1
92850,192.168.1.193,49348,192.168.1.37,8080,tcp,-,0.000177,0,0,REJ,...,0,0,0,-,-,-,-,-,-,1
12156,192.168.1.193,49664,192.168.1.37,8080,tcp,-,0.000229,0,0,REJ,...,0,0,0,-,-,-,-,-,-,1
148418,192.168.1.193,49453,192.168.1.37,8080,tcp,-,0.000130,0,0,REJ,...,0,0,0,-,-,-,-,-,-,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118967,192.168.1.32,57612,176.28.50.165,80,tcp,-,0.000000,0,0,SH,...,0,0,0,-,-,-,-,-,-,1
126168,192.168.1.32,34944,192.168.1.1,53,udp,dns,0.003467,80,112,SF,...,0,0,0,-,-,-,-,-,-,1
56184,192.168.1.32,46116,176.28.50.165,80,tcp,-,0.000000,0,0,SH,...,0,0,0,-,-,-,-,-,-,1
9801,192.168.1.32,54038,192.168.1.195,80,tcp,http,130.355040,6352,4697,RSTR,...,0,0,0,-,-,-,-,-,-,1
166487,192.168.1.32,47602,52.28.231.150,80,tcp,-,0.000000,0,0,SH,...,0,0,0,-,-,-,-,-,-,1

In [20]:
cat_cols = df.select_dtypes(include=['object']).columns
cat_cols

C:\Users\ACER\AppData\Local\Temp\ipykernel_860\1383039436.py:1: Pandas4Warning: For backward compatibility, 'str' dtypes are included by select_dtypes when 'object' dtype is specified. This behavior is deprecated and will be removed in a future version. Explicitly pass 'str' to `include` to select them, or to `exclude` to remove them and silence this warning.
See https://pandas.pydata.org/docs/user_guide/migration-3-strings.html#string-migration-select-dtypes for details on how to write code that works with pandas 2 and 3.
  cat_cols = df.select_dtypes(include=['object']).columns

Index(['src_ip', 'dst_ip', 'proto', 'service', 'conn_state', 'dns_query',
       'dns_AA', 'dns_RD', 'dns_RA', 'dns_rejected', 'ssl_version',
       'ssl_cipher', 'ssl_resumed', 'ssl_established', 'ssl_subject',
       'ssl_issuer', 'http_trans_depth', 'http_method', 'http_uri',
       'http_version', 'http_user_agent', 'http_orig_mime_types',
       'http_resp_mime_types', 'weird_name', 'weird_addl', 'weird_notice'],
      dtype='str')

In [21]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y = le.fit_transform(df["type"].str.lower())

y

KeyError: 'type'

In [ ]:
df.columns

Index(['src_ip', 'src_port', 'dst_ip', 'dst_port', 'proto', 'service',
       'duration', 'src_bytes', 'dst_bytes', 'conn_state', 'missed_bytes',
       'src_pkts', 'src_ip_bytes', 'dst_pkts', 'dst_ip_bytes', 'dns_query',
       'dns_qclass', 'dns_qtype', 'dns_rcode', 'dns_AA', 'dns_RD', 'dns_RA',
       'dns_rejected', 'ssl_version', 'ssl_cipher', 'ssl_resumed',
       'ssl_established', 'ssl_subject', 'ssl_issuer', 'http_trans_depth',
       'http_method', 'http_uri', 'http_version', 'http_request_body_len',
       'http_response_body_len', 'http_status_code', 'http_user_agent',
       'http_orig_mime_types', 'http_resp_mime_types', 'weird_name',
       'weird_addl', 'weird_notice', 'label'],
      dtype='str')

In [ ]:
TARGET  = 'type'
ATTACK_TYPES = [
    'normal', 'backdoor', 'ddos', 'dos', 'injection',
    'password', 'ransomware', 'scanning', 'xss', 'mitm',
]
NUM_CLASSES  = len(ATTACK_TYPES)   # 10
BOOLEAN_FEATURES = [
    'dns_AA', 'dns_RD', 'dns_RA', 'dns_rejected',
    'ssl_resumed', 'ssl_established',
    'weird_notice',
]
CATEGORICAL_FEATURES = ['proto', 'service', 'conn_state']
NUMERIC_FEATURES = [
    # Connection activity
    'duration', 'src_bytes', 'dst_bytes', 'missed_bytes',
    # Statistical activity
    'src_pkts', 'src_ip_bytes', 'dst_pkts', 'dst_ip_bytes',
    # Ports (numeric, will be scaled)
    'src_port', 'dst_port',
    # DNS numeric  (0 when DNS is not active — that zero IS informative)
    'dns_qclass', 'dns_qtype', 'dns_rcode',
    # HTTP numeric (0 when HTTP is not active — also informative)
    'http_trans_depth', 'http_request_body_len',
    'http_response_body_len', 'http_status_code',
]

In [ ]:
df[TARGET] = df[TARGET].str.strip().str.lower()
type_to_idx = {t: i for i, t in enumerate(ATTACK_TYPES)}
type_to_idx

{'normal': 0,
 'backdoor': 1,
 'ddos': 2,
 'dos': 3,
 'injection': 4,
 'password': 5,
 'ransomware': 6,
 'scanning': 7,
 'xss': 8,
 'mitm': 9}

In [ ]:
y = df[TARGET].map(type_to_idx)
y

0         1
1         1
2         1
3         1
4         1
         ..
211038    8
211039    8
211040    8
211041    8
211042    8
Name: type, Length: 211043, dtype: int64

In [ ]:
valid = y.notna()
print(valid)
if (~valid).any():
        print(f"  Dropping {(~valid).sum()} rows with unknown types: "
              f"{df.loc[~valid, TARGET].unique()}")

0         True
1         True
2         True
3         True
4         True
          ...
211038    True
211039    True
211040    True
211041    True
211042    True
Name: type, Length: 211043, dtype: bool

In [ ]:
# Drop invalid rows
df = df.loc[valid].copy().reset_index(drop=True)
df

,src_ip,src_port,dst_ip,dst_port,proto,service,duration,src_bytes,dst_bytes,conn_state,...,http_response_body_len,http_status_code,http_user_agent,http_orig_mime_types,http_resp_mime_types,weird_name,weird_addl,weird_notice,label,type
0,192.168.1.37,4444,192.168.1.193,49178,tcp,-,290.371539,101568,2592,OTH,...,0,0,-,-,-,-,-,-,1,backdoor
1,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000102,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor
2,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000148,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor
3,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000113,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor
4,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000130,0,0,REJ,...,0,0,-,-,-,-,-,-,1,backdoor
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211038,192.168.1.32,48286,176.28.50.165,80,tcp,http,65.376610,2665,322,S3,...,0,0,-,-,-,-,-,-,1,xss
211039,192.168.1.32,48288,176.28.50.165,80,tcp,http,65.710346,1987,322,S3,...,0,0,-,-,-,-,-,-,1,xss
211040,192.168.1.32,48292,176.28.50.165,80,tcp,http,65.766512,3922,322,S3,...,0,0,-,-,-,-,-,-,1,xss
211041,192.168.1.32,48294,176.28.50.165,80,tcp,http,65.753940,2401,322,S3,...,0,0,-,-,-,-,-,-,1,xss
211042,192.168.1.32,48304,176.28.50.165,80,tcp,http,65.771855,3181,322,S3,...,0,0,-,-,-,-,-,-,1,xss

In [ ]:
# 10. Clean label vector
y  = y[valid].astype(int).reset_index(drop=True)
y

0         1
1         1
2         1
3         1
4         1
         ..
211038    8
211039    8
211040    8
211041    8
211042    8
Name: type, Length: 211043, dtype: int64

In [ ]:
# Loop over each column in NUMERIC_FEATURES.
for col in NUMERIC_FEATURES:
    if col in df.columns:
        df[col] = pd.to_numeric(
            df[col].replace('-', np.nan), errors='coerce'
        ).fillna(0)
    else:
        print(f"  WARNING: '{col}' not found in CSV, filling with 0")
        df[col] = 0

In [ ]:
# Categorical features preprocessing
cat_enc_cols = []
for col in CATEGORICAL_FEATURES:
    raw = df[col].astype(str).replace('-', 'none').fillna('none')
    codes, uniques = pd.factorize(raw, sort=True)   # sort=True → deterministic
    enc = f'{col}_enc'
    df[enc] = codes
    cat_enc_cols.append(enc)
    print(f"  {col} -> {len(uniques)} categories: "
          f"{dict(zip(uniques, range(len(uniques))))}")

  proto -> 3 categories: {'icmp': 0, 'tcp': 1, 'udp': 2}
  service -> 9 categories: {'dce_rpc': 0, 'dns': 1, 'ftp': 2, 'gssapi': 3, 'http': 4, 'none': 5, 'smb': 6, 'smb;gssapi': 7, 'ssl': 8}
  conn_state -> 13 categories: {'OTH': 0, 'REJ': 1, 'RSTO': 2, 'RSTOS0': 3, 'RSTR': 4, 'RSTRH': 5, 'S0': 6, 'S1': 7, 'S2': 8, 'S3': 9, 'SF': 10, 'SH': 11, 'SHR': 12}

In [ ]:
df.head()

,src_ip,src_port,dst_ip,dst_port,proto,service,duration,src_bytes,dst_bytes,conn_state,...,http_orig_mime_types,http_resp_mime_types,weird_name,weird_addl,weird_notice,label,type,proto_enc,service_enc,conn_state_enc
0,192.168.1.37,4444,192.168.1.193,49178,tcp,-,290.371539,101568,2592,OTH,...,-,-,-,-,-,1,backdoor,1,5,0
1,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000102,0,0,REJ,...,-,-,-,-,-,1,backdoor,1,5,1
2,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000148,0,0,REJ,...,-,-,-,-,-,1,backdoor,1,5,1
3,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000113,0,0,REJ,...,-,-,-,-,-,1,backdoor,1,5,1
4,192.168.1.193,49180,192.168.1.37,8080,tcp,-,0.000130,0,0,REJ,...,-,-,-,-,-,1,backdoor,1,5,1

In [ ]:
bool_enc_cols = []
for col in BOOLEAN_FEATURES:
    enc = f'{col}_enc'
    df[enc] = (
        df[col].astype(str).str.lower()
        .map({'t': 1, 'f': 0, '-': 2})
        .fillna(2)
        .astype(int)
    )
    bool_enc_cols.append(enc)

print(bool_enc_cols)

['dns_AA_enc', 'dns_RD_enc', 'dns_RA_enc', 'dns_rejected_enc', 'ssl_resumed_enc', 'ssl_established_enc', 'weird_notice_enc']

In [ ]:
feature_cols = NUMERIC_FEATURES + cat_enc_cols + bool_enc_cols
feature_cols

['duration',
 'src_bytes',
 'dst_bytes',
 'missed_bytes',
 'src_pkts',
 'src_ip_bytes',
 'dst_pkts',
 'dst_ip_bytes',
 'src_port',
 'dst_port',
 'dns_qclass',
 'dns_qtype',
 'dns_rcode',
 'http_trans_depth',
 'http_request_body_len',
 'http_response_body_len',
 'http_status_code',
 'proto_enc',
 'service_enc',
 'conn_state_enc',
 'dns_AA_enc',
 'dns_RD_enc',
 'dns_RA_enc',
 'dns_rejected_enc',
 'ssl_resumed_enc',
 'ssl_established_enc',
 'weird_notice_enc']

In [ ]:
X = df[feature_cols].copy()
X

,duration,src_bytes,dst_bytes,missed_bytes,src_pkts,src_ip_bytes,dst_pkts,dst_ip_bytes,src_port,dst_port,...,proto_enc,service_enc,conn_state_enc,dns_AA_enc,dns_RD_enc,dns_RA_enc,dns_rejected_enc,ssl_resumed_enc,ssl_established_enc,weird_notice_enc
0,290.371539,101568,2592,0,108,108064,31,3832,4444,49178,...,1,5,0,2,2,2,2,2,2,2
1,0.000102,0,0,0,1,52,1,40,49180,8080,...,1,5,1,2,2,2,2,2,2,2
2,0.000148,0,0,0,1,52,1,40,49180,8080,...,1,5,1,2,2,2,2,2,2,2
3,0.000113,0,0,0,1,48,1,40,49180,8080,...,1,5,1,2,2,2,2,2,2,2
4,0.000130,0,0,0,1,52,1,40,49180,8080,...,1,5,1,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211038,65.376610,2665,322,0,5,2925,5,590,48286,80,...,1,4,9,2,2,2,2,2,2,2
211039,65.710346,1987,322,0,6,2307,5,590,48288,80,...,1,4,9,2,2,2,2,2,2,2
211040,65.766512,3922,322,0,7,4294,6,642,48292,80,...,1,4,9,2,2,2,2,2,2,2
211041,65.753940,2401,322,0,6,2721,5,590,48294,80,...,1,4,9,2,2,2,2,2,2,2
211042,65.771855,3181,322,0,7,3553,6,642,48304,80,...,1,4,9,2,2,2,2,2,2,2

In [ ]:
print(f"\n{'='*58}")
print(f"  {X.shape[0]:,} samples x {X.shape[1]} features  "
        f"(numeric={len(NUMERIC_FEATURES)}, "
        f"cat={len(cat_enc_cols)}, bool={len(bool_enc_cols)})")
print(f"\n  Class distribution:")
for name, idx in type_to_idx.items():
    n = (y == idx).sum()
    print(f"    {idx}: {name:12s}  {n:>6,}  ({n/len(y)*100:5.1f} %)")
print(f"{'='*58}\n")

==========================================================
  211,043 samples x 27 features  (numeric=17, cat=3, bool=7)

  Class distribution:
    0: normal        50,000  ( 23.7 %)
    1: backdoor      20,000  (  9.5 %)
    2: ddos          20,000  (  9.5 %)
    3: dos           20,000  (  9.5 %)
    4: injection     20,000  (  9.5 %)
    5: password      20,000  (  9.5 %)
    6: ransomware    20,000  (  9.5 %)
    7: scanning      20,000  (  9.5 %)
    8: xss           20,000  (  9.5 %)
    9: mitm           1,043  (  0.5 %)
==========================================================

## Preprocessing steps

In [28]:
import sys
sys.path.append("..")
# from v2.load_data import load_data

# X, y = load_data()

In [ ]:
LOG_COLS = {
    'duration', 'src_bytes', 'dst_bytes', 'missed_bytes',
    'src_pkts', 'dst_pkts', 'src_ip_bytes', 'dst_ip_bytes',
    'http_request_body_len', 'http_response_body_len',
}

In [ ]:
import torch
device = 'cuda' if torch.cuda.is_available() else 'cpu'
device

'cuda'

In [30]:
from src.preprocess import NetworkPreprocessor
preprocessor = NetworkPreprocessor.load('./checkpoints/preprocessor.pkl')
col_names = preprocessor._col_names

ModuleNotFoundError: No module named 'load_data'

In [25]:
col_names

NameError: name 'col_names' is not defined